bin/runtime/**/*.dll filter=lfs diff=lfs merge=lfs -text
bin/runtime/**/*.exe filter=lfs diff=lfs merge=lfs -text
bin/runtime/**/*.addon64 filter=lfs diff=lfs merge=lfs -text
bin/runtime/**/LICENSE-*.txt -whitespace
Assets/*.mp4 filter=lfs diff=lfs merge=lfs -text
